.library {
    position: fixed;
    top: 0;
    left: 0;
    // width: 350px;    
    height: 100%;
    // padding: 20px;
    overflow: scroll;
    background: hsl(212, 33%, 89%);

    h2 {
        text-align: center;
        padding-left: 10px;
        margin: 30px 0;
        background: transparent;
    }
}

.library-songs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left; 
    background: hsl(212, 33%, 89%);  
      
}

.library-song {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px; 
    cursor: pointer;
    background: hsl(212, 33%, 89%);

    img {
        width: 75px;
        border-radius: 50%;
        // margin: 0 10px;
    }

    &:hover {
        background: hsl(210, 31%, 80%);
        
    }
}

.song-details {
    background: transparent;

    h3 {
        background: transparent;        
        font-size: 1.1rem;
        margin-left: 10px;
        color: hsl(170, 97%, 15%);
    }
    h4 {
        background: transparent;        
        font-size: 0.7rem;
        margin-left: 10px;
        color: hsl(209, 34%, 30%);
    }
}


*::-webkit-scrollbar {
    width: 5px;
    height: 100%;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}