nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        color: hsl(209, 61%, 16%);
        background: transparent;
        border: none;
        cursor: pointer;
        border: 2px solid hsl(209, 61%, 16%);                
        padding: 0.5rem;
        transition: all 0.3s ease;

        &:hover {
            background: hsl(209, 61%, 16%);
            color: #fff;
        }
    }
}