.player {
    min-height: 20vh;
    // height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.time-control {
    width: 100%;
    max-width: 500px;
    display: flex;
    

    input {
        width: 100%;       
        padding: 1rem 0; 
        -webkit-appearance: none;         
        background: #fff;             
    }

    p {
        padding: 1rem;
    }
}

.play-control {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    svg {
        cursor: pointer;
        // color: hsl(209, 61%, 16%);
        color: hsl(243, 94%, 70%);
    }
}

input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 16px;
   width: 16px;
//    background: hsl(209, 61%, 16%);
   background: hsl(243, 94%, 70%);
   border: 1px solid hsl(243, 94%, 70%);
   border-radius: 50%;
}
input[type="range"]::-webkit-slider-runnable-track {
   -webkit-appearance: none;   
//    background: hsl(209, 23%, 60%);
   background: hsl(240, 100%, 95%);
   height: 16px;
}