input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: #000;
    border: 1px solid #000;
    border-radius: 50%;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none; 
    background: hsl(240, 100%, 95%);
    height: 16px;
    border-radius: 10px;
}