.player {
    min-height: 20vh;
    // height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // padding-bottom: 100px;
}

.time-control {
    width: 100%;
    max-width: 350px;
    display: flex;
    

    input {
        width: 100%;       
        padding: 1rem 0; 
        -webkit-appearance: none;                   
        background: transparent;             
    }

    p {
        padding: 1rem;
    }
}

.play-control {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    svg {
        cursor: pointer;                 
        color: #000;
    }
}

input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 16px;
   width: 16px;
   background: #000;
   border: 1px solid #000;
   border-radius: 50%;
}
input[type="range"]::-webkit-slider-runnable-track {
   -webkit-appearance: none; 
   background: hsl(240, 100%, 95%);
   height: 16px;
}