.song-container {
    // min-height: 60vh;   
    // height: 60vh;   
    // height: 500px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 68px;    

    img {
        width: 100%;
        max-width: 500px;        
        border-radius: 50%;
        margin-bottom: 40px;
        animation: rotation 40s infinite linear;
    }

    h2 {
        padding: 1rem;       
    }

    h3 {        
        font-size: 1.1rem;
        margin-bottom: 20px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}