.song-container {
    // min-height: 60vh;   
    // height: 60vh;   
    // height: 500px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 68px;    

    img {
        width: 100%;
        max-width: 500px;        
        border-radius: 50%;
        margin-bottom: 40px; 
        box-shadow: 0 4px 6px rgba(0,0,0,0.7), 0 4px 6px rgba(0,0,0,0.7);       
    }

    h2 {
        padding: 1rem;       
    }

    h3 {        
        font-size: 1.1rem;
        margin-bottom: 20px;
    }
}

.track-animation {
    animation: rotation 90s infinite linear;
}

.track-animation-pause {
    animation-play-state: paused;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}