@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    // background-color: hsl(210, 36%, 96%);
}

h1, h2, h3 {
    color: hsl(209, 61%, 16%);
}

.App {
    height: 100%;
    width: 100%;
}

@import "./player";
@import "./song";
@import "./library";
@import "./navigation";

